@font-face {
  font-family: "nhg";
  src: url("../../../public/Fonts/neue_haas_grotesk/NeueHaasDisplayLight.ttf");
  font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

@import url("https://fonts.cdnfonts.com/css/overused-grotesk");

@import url("https://fonts.cdnfonts.com/css/roboto-condensed-3");

:root {
  --tone-0: #ffffff;
  --tone-100: #000000;
  --tone-200: #222222;
  --tone-300: #5b5c57;
  --tone-400: #e3e4d8;
  --tone-500: #b6fe4b;
  --tone-600: #ff0000;
  --main-font: "PP Neue Montreal", sans-serif;
  --secondary-font: "Overused Grotesk", sans-serif;
  --auxilliary-font: "Roboto Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #0e100f;
  padding: 0;
}

* {
  font-family: var(--main-font);
}

body::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// NAVBAR
.navbar {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1;
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(60px) saturate(140%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);
  border-radius: 16px;
  border: none;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);

  color: #fff;
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      display: flex;
      height: 100;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      // border: 1px solid blue;

      .logo_svg {
        width: 2rem;
        height: 2rem;
      }
      h4 {
        font-size: 1.2rem;
        font-family: var(--main-font);
        color: rgb(198, 198, 198);
        font-weight: 800;
      }
    }
    .nav_time {
      p {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-family: var(--main-font);
        z-index: 5;
        font-weight: 400;
      }
    }
    .nav_links_container {
      height: 100%;
      display: flex;
      div {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        cursor: pointer;
        justify-content: space-between;
        .nav_links {
          font-size: 1rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-family: var(--main-font);
          z-index: 5;
          font-weight: 400;
        }
      }
    }
  }
}
// NAVBAR

// HERO
.hero {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer {
  background-color: white;
  position: relative;

  .text {
    position: absolute;
    bottom: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    left: 0;
    padding: 0 24px;
    .tb1 {
      width: fit-content;
      padding: 0.5rem 0;
      // overflow: hidden;
    }
    .textbox_one {
      .tb1 {
        h1 {
          font-size: 144px;
          line-height: 1;
          margin: 0;
          font-weight: 500;
          letter-spacing: 2px;
          // span {
          //   margin-right: 0.5rem;
          //   display: inline-block;
          //   transform: skewX(-45deg) rotateZ(-35deg);
          // }
        }
      }
    }
    .textbox_two {
      border-top: 1px solid gray;
      padding-top: 0.25rem;
      width: 600px;
      display: flex;
      justify-content: space-between;
      span {
        text-transform: uppercase;
      }
      .tb2 {
        width: fit-content;
        padding: 0;
        overflow: hidden;
        height: fit-content;
        h1 {
          font-size: 300px;
          line-height: 1;
          margin: 0;
          font-weight: 500;
          padding: 0;
        }
      }
    }
  }
}

// SCROLL REVEAL SECTION
.scroll-reveal-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  .srs_one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .srs_two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

// Whiter
.whiter {
  background-color: white;
  // div {
  //   border: 2px solid blue;
  // }
  .whiter_container {
    padding: 144px 24px 0 24px;
    display: flex;
    gap: 240px;
    .populaire {
      h1 {
        font-size: 96px;
        font-weight: 500;
        line-height: 1;
        color: rgb(50, 50, 50);
      }
      .populaire_img {
        width: 720px;
        aspect-ratio: 127/130;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .populaire_two {
      display: flex;
      flex-direction: column;
      padding-top: 285px;
      justify-content: space-between;
      p {
        color: rgb(50, 50, 50);
        font-size: 24px;
      }
      .populaire_img2 {
        width: 450px;
        aspect-ratio: 127/130;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
